article{
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
}

article header{
  display: flex;
  align-items: center;
  gap: 4px;
}

article header div{
  display: flex;
  flex-direction: column;
}

article header span{
  opacity: .6;
}

article img{
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

article button{
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #222;
}